@page "/join-room"
@using ChatApp.Client.Services
@inject NavigationManager navigationManager
@inject StateService State

<h1>Welcome @State.username to Bob Lee's Chatroom</h1>

@code {
    protected override void OnInitialized()
    {
        if (!State.logged)
        {
            navigationManager.NavigateTo("/login");
        }
    }
}
